<div>
        <a routerLink="users/new" class="btn btn-primary">Créer un nouvel utilisateur</a>
      </div>
      <div>
        <article *ngFor="let user of users">
            <h2>
                <a [routerLink]="['/user', user._id]">
                    {{ user.nom }}
                </a>
            </h2>
            <h3>
                {{ user.prenom }}
            </h3>
            <p>{{user.email}}</p>
            <p>{{user.role}}</p>
            <hr>
                <button id="sup" class="btn btn-danger" (click) = "onClickDelete(user)" >Supprimer</button>
                 &nbsp;
                <button id="maj" class="btn btn-warning"  (click)="onClickUpdate(user)">
                        Mis à jour
                </button>
        </article>
      </div>

