<form #f="ngForm" (submit)="onSubmitNewPortfolio($event,f)" >
    <!--Titre-->
    <input type="hidden" [value]="portfolio._id" name="_id" ngModel #id="ngModel"> <!-- ne pas oublier ce champ -->
    <div class="form-group">
        <label for="titre">titre</label>
        <input
            type="text"
            name="titre"
            id="titre"
            class="form-control"
            ngModel
            #titre="ngModel"
            required
            minlength="5"
            maxlength="20"
            [value]="portfolio.titre"
            >
        <div class="alert alert-danger" *ngIf="titre.touched && !titre.valid">
            <div *ngIf="titre.errors.required">le champ titre est obligatoire</div>
            <div *ngIf="titre.errors.minlength">5 caratères minimum</div>
            <div *ngIf="titre.errors.maxlength">20 caratères minimum</div>
        </div>
    </div>
    <!--Contenu-->
    <div class="form-group">
        <label for="contenu">contenu</label>
        <textarea
            name="contenu"
            id="contenu"
            rows="10"
            class="form-control"
            ngModel
            #contenu="ngModel"
            required
            minlength="5"
            maxlength="500"
            [value]="portfolio.contenu"
            ></textarea>
        <div class="alert alert-danger" *ngIf="contenu.touched && !contenu.valid">
            <div *ngIf="contenu.errors.required">le champ titre est obligatoire</div>
            <div *ngIf="contenu.errors.minlength">5 caratères minimum</div>
            <div *ngIf="contenu.errors.maxlength">500 caratères maximum</div>
        </div>
    </div>

    <!--Catégories-->
    <div class="row-fluid">
        <label for= "categories"><strong>Catégorie:</strong></label><br>
        <select
        class="selectpicker" data-show-subtext="true" data-live-search="true"
          name="categories"
          ngModel
          multiple title ="Choisissez votre genre"
          #categories="ngModel"
          required
          [value]="portfolio.categories" >
          <option data-live-search="Pop">Pop</option>
          <option data-live-search="Rock">Rock</option>
          <option data-live-search="Rap">Rap</option>
          <option data-live-search="R&B">R&B</option>
          <option data-live-search="Variété francaise"> Variété francaise</option>
          <option data-live-search="Classique">Classique</option>
          <option data-live-search="Dance & EDM">Dance & EDM</option>
          <option data-live-search="Jazz">Jazz</option>
          <option data-live-search="Electro">Electro</option>
          <option data-live-search="Latino">Latino</option>
          <option data-live-search="Ambiances">Ambiances</option>
        </select>
      </div>

      <!--nom auteur :-->
  <div class="form-group">
    <label for="nomAuteur"><strong> Nom Auteur:</strong></label>
    <input
      type="text"
      class="form-control"
      id="identity"
      name="nomAuteur"
      ngModel
      #nomAuteur ="ngModel"
      placeholder="Entrez votre nom"
      minlength="2"
      maxlength="20"
      [value]="portfolio.nomAuteur"
      required
      >
</div>

<!--email auteur :-->
<div class="form-group">
    <label for="emailAuteur"><strong> Email Auteur:</strong></label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="emailAuteur"
      ngModel
      #emailAuteur="ngModel"
      placeholder="Entrez votre email"
      [value]="portfolio.emailAuteur"
      required
      >
  </div>

      <!--date-->
      <div class="--date--">
      <label><strong>Date de modification :</strong></label>
      <input
        type="date"
        name="dateCreation"
        value="CurrentTime"
        ngModel
        #dateCreation="ngModel"
        required>
    </div>
        <label for="isPublic"> <strong> est Publié: &nbsp;</strong></label>
            <div class="form-check form-check-inline">
              <input class="form-check-input"
               type="radio"
               name="isPublic"
               id="exampleRadios1"
               value="true"
               ngModel
               #isPublic="ngModel"
               checked
               required>
              <label class="form-check-label" >
                Oui
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="isPublic"
                id="exampleRadios2"
                value= "false"
                ngModel
                #isPublic="ngModel">
              <label class="form-check-label" >
                Non
              </label>
            </div>




        <!--boutton modif-->
    <div class="form-group">
        <input
            type="submit"
            value="Mis à jour"
            class="btn btn-warning"
            [disabled]="!f.valid"
            >
    </div>
</form>
<div class="alert alert-success" *ngIf="isOk">
    portfolio modifié !!!
</div>
